@charset "utf-8";
body {
    margin: 0px;
    padding: 0px;
    font:normal 12px/18px Arial, Helvetica, sans-serif;
    color:#6b6b6b;
}
.clear {
    clear:both;
}
* {
    margin:0;
    padding:0;
}
img {
    border:none;
}
a {
    text-decoration:none;
}
#wrapper {
    margin:0 auto;
    width:100%;
}

.subWrap{
    width:1000px;
    margin: 0px auto;

}

.mainheader {
    background: url("../css/images/body_bg.png") repeat-x scroll 0 0 transparent;
    height: 71px;
    position: relative;
    z-index: 2;
}
.top {
    margin: 0 auto;
    overflow: hidden;
    padding: 9px 0 0;
    width: 1000px;
}
.top h1.logo a {
    background: url("../css/images/logos.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 41px;
    margin: 12px 0 0;
    width: 179px;
}
.top .top_right {
    float:right;
    width:auto;
}
.top .top_right .top_f_sec {
    float:left;
    margin:0 10px 0 0;
    padding:8px 10px;
    color:#fff;
}
.top .top_right .top_f_sec .login_icon {
    float:left;
    background:url(../css/images/login_icon.png) no-repeat 0 0;
    width:17px;
    height:20px;
    margin: 0 5px 0 4px;
}
.top .top_right .top_f_sec .logout {
    margin: 0 0px 0 4px;
    color:#87c6fa;
    font-weight:bold;
}
.top .top_right form {
    float:right;
    width:85px;
}
.top .top_right form select {
    width:85px;
    background:#4b4b4b;
    border:none;
    color:#fff;
    float:right;
    border:none;
}
.top .top_right ul {
    margin:0;
    padding:7px 0 0;
    float:left;
}
.top .top_right ul li {
    float:left;
    list-style:none;
   /* border-right:1px solid #fff;*/
    padding:0 7px;
}
.top .top_right ul li.last {
    border:none; background:url(../css/images/help1.png) left no-repeat; padding-left:20px;
}
.top .top_right ul li.faq {
    border:none; background:url(../css/images/help.png) left no-repeat; padding-left:20px;
}
.top .top_right ul li.logout {
    border:none; background:url(../css/images/logout3.png) left no-repeat; padding-left:20px;
}
.top .top_right ul li a {
    font:normal 11px Arial, Helvetica, sans-serif;
    color:#dad9d9;
    line-height:20px;
    float:left; padding:0px 5px;
}
.top .top_right ul li a:hover {
    color:#9acaf2;
}
.nav {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -10px;
    width: 1000px;
    z-index: 1;
}
.nav ul {
}
.nav ul li {
    float: left;
    list-style: none outside none;
    margin: 0 1px 0 0;
}
.nav ul li a {
    background: url("../css/images/menu_lft.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 41px;
    text-transform: uppercase;
}
.nav ul li a span {
    background: url("../css/images/menu_rht.png") no-repeat scroll right top transparent;
    cursor: pointer;
    float: left;
    height: 41px;
    line-height: 49px;
    padding: 0 10px;
}

.nav ul li a span:hover , .nav ul li.active a span{
    background:url(../css/images/menu_rht.png) no-repeat right bottom;
}
.nav ul li a:hover , .nav ul li.active a {
    background:url(../css/images/menu_lft.png) no-repeat left bottom
}



.nav ul li img {
    float: left;
    margin: 11px 6px 0 0;
    width: 25px;
}
.heading {
    color: #050306;
    font: 26px Arial, Helvetica, sans-serif;
    padding: 10px 10px 0px;
    /*padding:0 10px 25px 10px;*/
    margin:0;
    clear:both;
    float: left;
    width:auto;
}
.search_box {
    background:url(../css/images/select_bg.gif) no-repeat 0 0;
    width:239px;
    height:31px;
    float:right;
    margin: 8px 0 0;
}
.search_box input[type="text"] {
    float: left;
    height: 31px;
    line-height: 31px;
    padding: 0 0 0 5px;
    width: 200px;
    border:none;
    background:none;
}
.search_box input[type="button"] {
    background:none;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 31px;
    line-height: 31px;
    padding: 0 0 0 5px;
    width: 28px;
}
#container {
    padding:7px 0;
}
.project_detail_sec {
    background:#efefef url(../css/images/projedt_cur_top.gif) no-repeat 0 0;
    padding:8px 0 0;
    margin:0 auto;
    width:998px;
}
.project_detail_sec .proj_cur_btm {
    background:url(../css/images/projedt_cur_btm.gif) no-repeat left bottom;
    padding:0 10px 8px;
}
.project_detail_sec .proj_main {
    border:1px solid #bbbbbb;
    background:#fff;
    padding:4px;
    min-height: 350px;
}
.project_detail_sec .proj_main table tr.tab_head {
    background:url(../css/images/th_bg.gif) repeat-x left bottom #94aca9;
    color:#fff;
    font:normal 13px Arial, Helvetica, sans-serif;
    height:29px;
}
.project_detail_sec .proj_main table tr.tab_head th {
    font-weight:normal;
    padding: 7px 5px;
    vertical-align:top;
    border-right:1px solid #afcdc8;
}
.project_detail_sec .proj_main table tr td {
    border-bottom: 1px solid #CDCDCD;
    border-collapse: collapse;
    border-right: 1px solid #CDCDCD;
    padding: 4px 5px;
    font:normal 11px Arial, Helvetica, sans-serif;
}
#footer {
    background:url(../css/images/footer_bg.gif) repeat-x 0 0;
    min-height:55px;
}
#footer .footer {
    margin:0 auto;
    width:1000px;
    padding:11px 0 0;
}
#footer .footer .copyright {
    float:left;
    font:normal 10px Arial, Helvetica, sans-serif;
    color:#fff;
    padding:14px 0 0;
}
#footer .footer .logo a {
    background:url(../css/images/suntec_logo.gif) no-repeat 0 0;
    float: right;
    height: 33px;
    margin: 5px 0 0;
    width: 40px;
}
table.startend {
    margin: 5px 0 0;
}
table.startend th {
    border-right:none !important;
    padding: 4px !important;
    font-size: 13px !important;
    border-top:1px solid #afcdc8;
}
table.startend td {
    border:none !important;
}
.proj_table {
    border-left:1px solid #CDCDCD;
}
.navright {
    background: url("../css/images/nav_right.gif") repeat-x scroll 0 0 transparent;
    float: right;
    list-style: none outside none;
    margin: 21px 0 0;
    padding: 0;
}
.navright li {
    border-right: 1px solid #FFFFFF;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.navright li a {
    color: #FFFFFF;
    display: block;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #487082;
    width: 100px;
}
.navright li a:hover, .navright li.active a {
    background: none repeat scroll 0 0 #757575;
}
.titleRow {
    background:url(../css/images/th_bg.gif) repeat-x 0px 0px;
    padding:5px 10px;
    border-bottom:solid 1px #93aba8;
    color:#fff;
    font:bold 14px Arial, Helvetica, sans-serif;
    margin:0px 0px 2px 0px;
}
.titlesubRow {
    background:#c9d8d5;
    padding:5px 1%;
    width:98%;
    overflow:hidden;
    color:#606f6b;
    font:normal 14px Arial, Helvetica, sans-serif;
    text-shadow:1px 1px 0px #eee;
}
.titlesubRow span {
    float:left;
    display:block;
    padding:3px 0px 0px 0px;
}
.titlesubRow select {
    width:150px;
    float:left;
    margin:0px 0px 0px 15px;
    border:solid 1px #8ea8a1;
    padding:2px;
}
.twoColSec {
    margin:10px 3px 0px 3px;
    overflow:hidden;
}
.col1 {
    width:457px;
    float:left;
}
h6.blk17 {
    font-size:15px;
    color:#1e1e1e;
    margin:0px 0px 6px;
    /*    line-height: 20px;*/
    font-weight:normal;
}
.bx1 {
    border:solid 1px #e1e1e1;
    background:#f5f5f5;
}
.tlhead {
    height:25px;
    background:url(../css/images/th_bg.gif) repeat-x 0px 0px;
}


.tlhead th {
    text-align: left;
    border-right: 1px solid #AFCDC8;
    color: #fff;
    padding:0px 5px;
}

.cDesd {
    color: #6D978F;
    max-height: 185px;
    min-height: 183px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
}
.mbtn {
    width:48px;
    height:200px;
    padding:0px 0px;
    float:left;
}
.garrow {
    background:url(../css/images/green_tab_arrow.png) no-repeat 0px 0px;
    width:32px;
    height:32px;
    display:block;
    float:left;
    margin:82px 0px 0px 9px;
}
.refresh {
    background:url(../css/images/refresh_tab.png) no-repeat 0px 0px;
    width:26px;
    height:30px;
    display:block;
    float:left;
    margin:20px 0px 0px 9px;
}
.bluBtn {
    margin:10px 0px 0px 0px!important;
}

.centerBtn {
    margin: 0px;
}

.bluBtn_edit {
    margin:10px 0px 0px 0px;
    border:solid 1px #135184;
    background:url(../css/images/tab_blue_btm.png) repeat-x 0px 0px;
    padding:2px 15px;
    color:#fff; cursor:pointer
}

.mrgnLft443 {
    margin-left:443px!important;
}
.tableBox {
    margin:5px 2px 0px 2px;
    padding:0px;
}
.noRecord {
    color:777676;
    min-height:150px;
    text-align:center;
    padding:10px;
}
.tableBox table th {
    text-align:center;
    font-size:12px;
}
.ritecDesc {
    min-height:184px;
}
.innerCont {
    background: url("../css/images/page_wrap.png") repeat-y scroll 0 0 transparent;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 20px 50px;
    position: relative;
    width: 960px;
    z-index: 1;
    min-height:450px;
}
#header {
    background:url(../css/images/body_bg.png) repeat-x 0 5px;
    height:69px;
    width:100%;
    position:relative;
}
#header .inn {
    width:100%;
}
#header .topHead {
    width:980px;
    margin:0px auto;
    height:60px;
    padding:9px 0px 0px 0px;
}
#header h1.logo {
    margin:0px;
    float:left;
    padding:15px 0px 0px 0px;
}
#header h1.logo a {
    background:url("../css/images/logos.png") no-repeat scroll 0 0 transparent;
    width:380px;
    height:41px;
    display:block;
}
#header .topHead a.logout {
    float:right;
    background:url(../css/images/logout.png) no-repeat 0px 0px;
    padding:0px 0px 0px 27px;
    font:bold 17px arial;
    text-decoration:none;
    color:#fff;
    margin:20px 0px 0px 0px;
}
.sld {
    border-bottom: 1px solid #D2E2ED;
    border-right: 1px solid #D2E2ED;
    float: left;
    height: 300px;
    width: 476px;
}
.sld .sldWrap {
    border: 1px solid #E6E6E6;
    height: 229px;
    margin: 20px 0 0;
    padding: 10px;
    width: 409px;
}
.loginWrap {
    border-bottom: 1px solid #D2E2ED;
    float: left;
    height: 300px;
    width: 479px;
}
.loginCont {
    float: left;
    padding: 3% 7%;
    width: 86%;
}
.loginTitle {
    border-bottom: 1px solid #D5D5D5;
    color: #1567A1;
    font: 20px Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
    padding: 0 0 10px;
}
.loginCont ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.loginCont ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 15px;
    width: 100%;
}
.loginCont ul li span {
    color: #545454;
    display: block;
    float: left;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 10px 0 0;
    width: 80px;
}
.loginCont ul li input[type="text"], .loginCont ul li input[type="password"] {
    background: url("../css/images/input_login.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    width: 297px;
}
.loginCont ul li a.frgt, .loginCont ul li a.signUp {
    color: #545454;
    float: left;
    margin: 5px 10px 0 0;
    text-decoration: none;
}
.loginCont ul li input[type="submit"] {
    background: url("../css/images/login-btn.png") repeat-x scroll -5px -5px transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 14px/14px Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 0 0 0 79px;
    padding: 0 15px 3px;
    width: 74px;
}
.loginCont ul li input[type="submit"]:hover {
    background: url("../css/images/login-btn.png") repeat-x scroll -5px -42px transparent;
}
.hpContLeft {
    border-right: 1px solid #D2E2ED;
    float: left;
    padding: 20px 0 0 5px;
    width: 471px;
}
.hpContRight {
    float: left;
    padding: 20px 0 0 30px;
    width: 452px;
}
h6.title {
    color: #1D78B8;
    font: 24px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 0 25px;
}
ul.blueList {
    color: #1D78B8;
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.blueList li {
    background: url("../css/images/blue_bull.png") no-repeat scroll 3px 0 transparent;
    margin: 0;
    padding: 0 0 15px 30px;
}
ul.blueList li a {
    color: #1D78B8;
    text-decoration: none;
}
ul.blueList li a:hover {
    color: #222222;
    text-decoration: none;
}
.uploadtable {
    width:100%!important;
    border-collapse:collapse;
}
.uploadtable td {
    background:#f5f5f5;
    padding:10px 10px!important;
    border-bottom:dashed 1px #ccc!important;
    border-right:none!important;
}
.uploadtable table td{ border-bottom:none !important;}

#publishBarB {
    margin:0px 0px 30px 0px;
}
#publishBarB #subtitle {
    font:bold 16px arial
}

ul.report-fields { padding:0px; margin:0px;list-style:none;}
ul.report-fields li { padding:0px; margin:0px;list-style:none; width:160px; float:left; display:block; margin-right:20px; font:normal 12px Arial, Helvetica, sans-serif; color:#000000;}
ul.report-fields li input[type="text"]{ padding:1px 3px;}
ul.report-fields li label{ display: block;}

ul.report-fields li br{ display: none;}


ul.report-fields li select{ width:150px; padding:1px 3px;}

ul.report-fields li .submit-btn{ margin-top:11px;}

.construction{ width:300px; margin:20px auto;}
fieldset{ border:1px solid #cecece !important;}
legend{ font-size:13px;}



.pl80{padding-left: 80px!important;}



input[type="submit"] , input[type="button"]  {
    margin:0px 0px 0px 0px;
    border:solid 1px #135184;
    background:url(../css/images/tab_blue_btm.png) repeat-x 0px 0px #6692c2;
    padding:2px 6px;
    color:#fff; cursor:pointer;
}
input[type="submit"]:hover, input[type="button"]:hover{
    background:#6692c2;
}

/*
#draggable { width: 100px; height: 40px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable, #droppable2 { width: 230px; height: 120px; padding: 0.5em; float: left; margin: 10px; }
#droppable-inner, #droppable2-inner { width: 170px; height: 60px; padding: 0.5em; float: left; margin: 10px; }
*/

.selected {
    background-color:#d2e2ed; /* #E1F5A9; */
}


.evenRow {
    background-color:#E0ECFF; /* #F7FFC7 #F2F2F2;*/
}

.oddRow {
    background-color:#FBFBEF; /* #EFFFFF #FFFFE6 #FFFFE6 #F2F2F2;*/
}

#loginError {
    font-family: verdana;
    font-size: 11px;
    margin-left:32px;
    width:415px; 
    height:25px; 
    border:1px solid orange; 
    background-color: #FFFFDC;
    color:red;
    padding: 5px;
}

.ErrorMessage {
    font-family: verdana;
    font-size: 11px;
    margin-left:32px;
    border:1px solid orange; 
    background-color: #FFFFDC;
    padding: 5px;
}

.editCloseMessage {
    font-family: verdana;
    font-size: 11px;
    margin-left:32px;
    width:415px; 
    height:100px; 
    border:1px solid orange; 
    background-color: #FFFFDC;
    color:red;
    padding: 5px;
}

a.TaskIcons {
    padding-left: 30px;
    /* width:100px; */
    float:right;
    margin-top: 3px;
    background:url(../css/images/modifiedIcon4.png) no-repeat left;
}

a.changeStage {
    padding-left: 30px;
    width:100px;
    float:right;
    height:22px;
    margin-top: 3px;
    background:url(../css/images/moveStage.png) no-repeat left;
}

a.cssedit {
    padding-left: 30px;
    width:100px;
    float:right;
    height:22px;
    margin-top: 3px;
    background:url(../css/images/edit_css1.png) no-repeat left;
}

a.findReplace {
    width:100px;
    padding-left: 30px;
    float:right;
    height:22px;
    margin-top: 3px;
    font-size:14px;
    background:url(../css/images/findreplace.png) no-repeat left;
}

a.refreshlist {
    width:95px;
    padding-left: 30px;
    float:right; 
    height:24px;
    margin-top: 3px;
    font-size:14px;
    background:url(../css/images/refreshlist.png) no-repeat left;
}

ul.top-right{ padding:0px; margin:0px; list-style:none; width:150px; float:right;}

ul.top-right li{ padding:0px; margin:0px; list-style:none;}

ul.top-right li a{ padding:0px; margin:0px; list-style:none; float:left; padding:20px 15px; font:normal 11px Arial, Helvetica, sans-serif; color:#FFFFFF;}

ul.top-right li.help a{ background:url(../css/images/help1.png) no-repeat left; padding-left:25px;}


ul.top-right li.faq a{ background:url(../css/images/help.png) no-repeat left; padding-left:25px;}

.clock{ width:235px; font:bold 11px Arial, Helvetica, sans-serif; color:#FFFFFF; float:left; padding-top:20px; margin-left:209px;}

.innerclock{ width:228px; font:bold 11px Arial, Helvetica, sans-serif; color:#FFFFFF; float:left;padding-top:10px;  }


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

   .modal {
    background-color:#fff;
    display:none;
    width:50%;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }

    .modalA {
    background-color:#fff;
    display:none;
    width:50%;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }

  .modal h2 {
    /* background:url(/media/img/global/info.png) 0 50% no-repeat; */
    margin:0px;
    padding:10px 0 10px 5px;
    /* border-bottom:1px solid #333; */
    font-size:20px;
  }
  