<?xml version="1.0" encoding="utf-8"?>
[Front Components]

cover = Forsideskema
title = Titel
copyright = Copyrigh
ded = Dedikation
intro = Indledning
content = Indhold
quotation = Tilbud

[Back Components]

thanks = Tak 
ack = Anerkendelser
aboutauthor = Om forfatteren
publisher = Udgiver
otherbooks = Andre bøger
index = Index 
backcover = Bagcover