[Front Components]

cover = Cover Page
title = Title Page
copyright = Copyright
ded = Dedication
intro = Introduction
content = Contents
prologue = Prologue
foreword = Foreword
preface = Preface
lof = List of Figures
lot = List of Tables

[Back Components]

ack = Acknowledgment
Quotation = Quotation
acknowledgment = Acknowledgment
aboutauthor = About the Author
appendix = Appendix
resources = Resources
bibliography = Bibliography
reference = Reference
furtherstudy = Further Study
Contactauthor = Contact The Author
publisher = publisher
otherbooks = Other Books
index = Index
