<?xml version="1.0" encoding="utf-8"?>
[Front Components]

cover = Portada
title = Título
copyright = Derechos de autor
content = Contenido
ded = Dedicación
intro = Introducción
quotation = Cotización 

[Back Components]

thanks = Gracias
ack = Agradecimientos
aboutauthor = Sobre el autor
publisher = Autor
otherbooks = Otros libros 
index = Índice de
backcover = contraportada