<?xml version="1.0" encoding="utf-8"?>
[Front Components]

cover = Couverture
title = Page de titre
copyright = Copyright
content = Sommaire or Table des matières 
ded = Dédicace
intro = Introduction
prolog = Prologue
preface =  = Préface
forword = Avant-propos
quotation = citation

[Back Components]

thanks = Merci
ack = Remerciements
aboutauthor = À propos de
publisher = éditeur
otherbooks = D'autres livres
index = indice