[Front Components]

cover = Copertina
title = Titolo della pagina
copyright = Copyright
content = Indice
ded = Dedizione
intro = Introduzione
prolog = Prolog
preface = prefazione
forword = Forword
quotation = Citazione

[Back Components]

thanks = Grazie
ack = Ringraziamenti
aboutauthor = Chi Autore
publisher = Editore
otherbooks = altri libri
index = indice