[Front Components]

cover = Voorblad
title = Titel Page
copyright = copyright
content = Inhoud
ded = Toewijding
intro = introductie
quotation = citaat

[Back Components]

thanks = Bedankt
ack = Met dank aan
aboutauthor = Over de auteur
publisher = Uitgever
otherbooks = Andere boeken
index = Index
backcover = Terug Page