<?xml version="1.0" encoding="utf-8"?>
[Front Components]
cover = Omslag
title = Titel
copyright = Copyright
content = Innehåll
ded = Dedikation
intro = Inledning
prolog = Prologue
preface = Förord
forword = Förord
quotation = Citat

[Back Components]

thanks = Tack
ack = Tack
aboutauthor = Author
publisher = Utgivare
otherbooks = Andra böcker
index = Register