[Front Components]

cover = Jalada
title = Title
copyright = Copyright
content = yaliyomo
ded = Kujitolea
intro = Utangulizi
quotation = Nukuu

[Back Components]

thanks = Shukrani
ack = Shukrani
aboutauthor = Kuhusu mwandishi
publisher = Publisher
otherbooks = Nyingine vitabu
index = index
backcover = Backcover